body {
    margin: 0;
    background: #f5f5f5;
}

.login-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 250px 1fr;
    grid-template-rows: 1fr auto 10px auto 10px auto 10px auto 10px auto 1fr;
}

.login-title {
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    font-size: 24px;
}

.login-input {
    grid-column: 2;
    height: 32px;
    font-size: 14px;
    padding: 4px 6px;
}

.login-login {
    grid-row: 4;
}

.login-password {
    grid-row: 6;
}

.login-button {
    grid-column: 2;
    height: 35px;
    font-size: 14px;
    background: MediumSpringGreen;
    border: none;
    cursor: pointer;
}

.login-main {
    grid-row: 8;
}

.login-guest {
    grid-row: 10;
}

.login-error {
    grid-column: 2;
    color: red;
    text-align: center;
    margin-top: 5px;
}
